<h1 class="mt-4" style="font-size: 400%; text-align: center; color: darkblue;">Traveller Planner for the Groups</h1>
<div class="row mt-5" >
    <div class="col-md-6 m-auto">
        <div class="card card-body" style="border: 2px solid black; box-shadow: cornflowerblue 5px 5px 5px;">
            <form action="/newplan" method="POST">
                <div class="form-group">
                    <label for="email">Place</label>
                    <input type="text" id="place" name="place" class="form-control"
                        placeholder="Enter Place To Visit" />
                </div>
                <div class="form-group">
                    <label for="startDate">Start Date</label>
                    <input type="date" id="startDate" name="startDate" class="form-control"
                        placeholder="Enter Start Date" />
                </div>
                <div class="form-group">
                    <label for="end_date">End Date</label>
                    <input type="date" id="endDate" name="endDate" class="form-control"
                        placeholder="Enter End Date" />
                </div>
                <div class="form-group">
                    <label for="otherDetails">Details</label>
                    <textarea id="otherDetails" name="otherDetails" class="form-control"
                        placeholder="Enter Details"></textarea>
                </div>
                <button type="submit" class="btn btn-info btn-block">Create Plan</button>
            </form>
            <br>
            <a href="/dashboard" class="btn btn-outline-success" >Back</a>
        </div>
    </div>
</div>