<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<h1 class="mt-4" style="font-size: 400%; color: rgb(0, 0, 0);">Traveller Planner for the Groups</h1>
<h2 class="lead mb-3" style="color: rgb(14, 88, 122); font-size: 250%;">Welcome <span style="font-weight: 900;"><%= user.name %></span></h2>
<a href="/users/logout" class="btn btn-dark">Logout</a>
<a href="/joinplan" class="btn btn-warning">Join A Plan</a>
<a href="/newplan" class="btn btn-success">Create A Plan</a>
<br>
<br>
<% if(plans.length > 0) { %>
<table class="table table-bordered">
    <thead>
        <tr>
            <th> Names</th>
            <th> Access Key : Share the access key to let someone join your plan</th>
        </tr>
    </thead>
    <tbody>
           <% plans.forEach((plan)=>{ %>
        <tr>
            <td><a class="navbar-link" href="/showDetails/<%= plan._id %>" style="color: rgb(83, 116, 40); font-weight: 700;"><%=plan.place%></a></td>
            <td> <%= plan._id %> </td>
        </tr>
            <% }) %>
    </tbody>
</table>
<% }else{ %>
    <h3>You Havent Made Any plans</h3>
<% } %>