<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <form action="/joinplan" method="POST">
                <div class="form-group">
                    <label for="key">Access Code</label>
                    <input type="text" id="key" name="key" class="form-control" placeholder="Enter Key Here" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="lead mt-4">
                No Account? <a href="/users/register">Register</a>
            </p>
        </div>
    </div>
</div>