<h1 class="mt-4" style="font-size: 400%; text-align: center; color: darkblue;">Traveller Planner for the Groups</h1>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <p style="font-weight: 700; font-size: 150%; color: darkgreen;">Create an account or login</p>
      <a href="/users/register" class="btn btn-dark btn-block mb-2">Register</a>
      <a href="/users/login" class="btn btn-success btn-block">Login</a>
    </div>
  </div>
</div>
